<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
</head>  
<body style="background-color:powderblue;">  
<form method="POST" class="post-form">  
        {% csrf_token %}  
     <h3> Sample Form</h3>
       {% for field in form %}
       <div class="form-group" style="font-family:verdana">
        {{ field.label_tag }} 
         {{ field }}
        </div>
       {% endfor %} 
        <button type="submit" class="save btn btn-default">Save</button>  
</form>  
</body>  
</html>  
