{% extends 'base.html' %}
{% block content %}

 
 <div class="page-wrapper">
       

        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
		
        <div class="page-container">
            <!--<header class="header-dekstop"> </header>-->
			
			
                
            
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
           
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                       
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3"><br>
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                              
                                            </div>
                                            <div class="text">
                                                
                                                <span>Service Plan For Motorbikes</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3"><br>
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                
                                            </div>
                                            <div class="text">
                                              
                                                <span>Service Plan for Premium Cars <br>  <br>                     					     </span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-sm-6 col-lg-3"><br>
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                               
                                            </div>
                                            <div class="text">
                                              
                                                <span>Service Plan for Premium Cars/Bikes</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3"><br>
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                
                                            </div>
                                            <div class="text">
                                              
                                                <span>Service Plan for Premium Cars                    					     </span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                           

                        </div>
                        <div class="row">
                            <div class="col-lg-9">
                                <h2 class="title-1 m-b-25">Our Service Plans</h2>
								
								<p>
									
									A Service Plan pays for specified aspects of the recommended car service by an approved facility for a specific term or kilometres travelled, whichever comes first, in the Republic of South Africa. Filters, spark plugs and lubricants are normally covered by our car servicing providers.
		<p>
	
			

									
									
									
	

                                </div>
                            </div>
                        </div>
                        
                 </div>
                        
                    
                </div>
            </div>
			
			
{% endblock %}
